* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 100%;
  background: url(3.jpg);
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: center;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background:#581845;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form,.content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 6px;
}
.btn1{
  float: right;
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 6px;
}
	
}
.logout_btn{
  padding: 10px;
  font-size: 15px;
  float:right;
  color: red;
  background: #5F9EA0;
  border: none;
  border-radius: 6px;
}
.logout_btn:hover{
  background: #0B87A6;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #e0120d; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}